.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 68px;
  top: 50px;
  right: 280px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.switch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.switch-text {
  position: relative;
  width: 100px;
  margin-bottom: 10px;
  color: #FFFAA8;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.switch-label {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 30px;
  padding: 0;
  line-height: 30px;
  border: 2px solid #E3E3E3;
  border-radius: 30px;
  background-color: #FFFAA8;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.switch-label:before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  margin: 0px;
  background: #808FC7;
  position: absolute;
  bottom: 0;
  right: 36px;
  border: 2px solid #E3E3E3;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.switch-checkbox:checked + .switch-label {
  background-color: #808FC7;
}

.switch-checkbox:checked ~ .switch-text {
  color: #808FC7;
}

.switch-checkbox:checked + .switch-label:before {
  background: #ffffff;
}

.switch-checkbox:checked + .switch-label, .switch-checkbox:checked + .switch-label:before {
  border-color: #808FC7;
}

.switch-checkbox:checked + .switch-label:before {
  right: 0px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dark-theme {
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  background-color: #242333;
  color: white;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.dark-theme .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark-theme .copy__wrapper {
  padding: 5px;
  background-color: #fff;
  color: #262c37;
  border-radius: 15px;
  position: absolute;
  z-index: 5555;
  top: 0;
  left: 0;
  display: none;
}

.dark-theme .copy__wrapper::before {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  top: -22px;
  border: 12px solid transparent;
  border-bottom: 12px solid #fff;
  z-index: 58888;
}

.dark-theme .btn {
  -webkit-transition: .25s;
  transition: .25s;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
}

.dark-theme .btn:hover {
  -webkit-box-shadow: 0 14px 28px rgba(40, 148, 255, 0.25), 0 10px 10px rgba(40, 148, 255, 0.22);
          box-shadow: 0 14px 28px rgba(40, 148, 255, 0.25), 0 10px 10px rgba(40, 148, 255, 0.22);
  -webkit-transition: .25s;
  transition: .25s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.dark-theme .btn a {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #2894ff;
  background-color: #262c37;
  font-size: 16px;
  letter-spacing: 2px;
  -webkit-transition: .5s;
  transition: .5s;
}

.dark-theme .btn a:hover {
  background-color: #2894ff;
  color: #1f242d;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.dark-theme .btn a span {
  position: absolute;
  display: block;
  background-color: #2894ff;
}

.dark-theme .btn a span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.dark-theme .btn a:hover span:nth-child(1) {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.dark-theme .btn a span:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.dark-theme .btn a:hover span:nth-child(2) {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.dark-theme .btn a span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.dark-theme .btn a:hover span:nth-child(3) {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.dark-theme .btn a span:nth-child(4) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.dark-theme .btn a:hover span:nth-child(4) {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.dark-theme .copy {
  color: #757575;
  text-align: center;
  margin-bottom: 20px;
  top: -50px;
  position: relative;
  opacity: 0;
  -webkit-transition: .5s all linear;
  transition: .5s all linear;
  display: block;
  z-index: 4;
}

.dark-theme .copy.active {
  top: 0;
  opacity: 1;
}

.dark-theme .keys__wrapper {
  height: 400px;
  -webkit-transition: .5s all linear;
  transition: .5s all linear;
}

.dark-theme .keys {
  min-width: 300px;
  width: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  max-height: 360px;
  -webkit-transition: .5s all linear;
  transition: .5s all linear;
  scrollbar-color: #262c37 #000;
  scrollbar-width: thin;
}

.dark-theme .keys::-webkit-scrollbar {
  width: 8px;
}

.dark-theme .keys::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

.dark-theme .keys::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

.dark-theme .keys__item {
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  top: 0;
  position: relative;
  width: 300px;
  padding: 10px 30px;
  background-color: #fff;
  color: #28ffc9;
  background-color: #262c37;
  font-size: 18px;
  text-align: center;
  border: 1px solid #000;
  border-bottom: none;
  height: 45px;
  opacity: 0;
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
}

.dark-theme .keys__item:nth-child(even) {
  left: -300px;
}

.dark-theme .keys__item:nth-child(odd) {
  left: 300px;
}

.dark-theme .keys__item:hover {
  background-color: #46494e;
}

.dark-theme .keys__item::-moz-selection {
  background: transparent;
}

.dark-theme .keys__item::selection {
  background: transparent;
}

.dark-theme .keys__item:nth-child(1) {
  z-index: 5;
}

.dark-theme .keys__item:nth-last-child(1) {
  border-bottom: 1px solid #000;
}

.light-theme {
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  background-color: #ffe9be;
  color: black;
}

.light-theme .copy__wrapper {
  background-color: #262c37;
  color: #fff;
}

.light-theme .copy__wrapper::before {
  border-bottom: 12px solid #000;
}

.light-theme .btn {
  -webkit-box-shadow: 0 14px 28px rgba(40, 148, 255, 0.25), 0 10px 10px rgba(40, 148, 255, 0.22);
          box-shadow: 0 14px 28px rgba(40, 148, 255, 0.25), 0 10px 10px rgba(40, 148, 255, 0.22);
}

.light-theme .btn:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.light-theme .btn a {
  color: #262c37;
  background-color: #2894ff;
}

.light-theme .btn a:hover {
  background-color: #262c37;
  color: #fff;
}

.light-theme .btn a span {
  background-color: #fff;
}

.light-theme .copy {
  color: #757575;
}

.light-theme .keys {
  -webkit-box-shadow: 0 14px 28px rgba(40, 148, 255, 0.25), 0 10px 10px rgba(40, 148, 255, 0.22);
          box-shadow: 0 14px 28px rgba(40, 148, 255, 0.25), 0 10px 10px rgba(40, 148, 255, 0.22);
  scrollbar-color: #2894ff #fff;
}

.light-theme .keys::-webkit-scrollbar-thumb {
  background: #fff;
}

.light-theme .keys__item {
  background-color: #000;
  color: #262c37;
  background-color: #2894ff;
  border: 1px solid #fff;
}

.light-theme .keys__item:hover {
  background-color: #65b2ff;
}

.light-theme .keys__item:nth-last-child(1) {
  border-bottom: 1px solid #fff;
}
/*# sourceMappingURL=style.css.map */